# @package _global_

# specify here default configuration
# order of defaults determines the order in which configs override each other
defaults:
  - _self_
  - lvlm: flamingo_9B
  - dataset: coco2017
  - task: caption


# generation args:
topk: 5
few_shot_num: 4
batch_size: 32
device: "cuda"
precision: bf16
sample_num: 5000
candidate_seq_num: 1024

scorer: "infoscore"

# Others
result_dir: "${oc.env:RESULT_DIR}"
cache_dir: "${result_dir}/cache"
gpu_ids: [0]
# load several models at the same time will cost large memory.
# use sleep to load one by one.
sleep_time: 90

log_level: "INFO"

# hydra
hydra:
  run:
    dir: ${result_dir}/hydra_output/${hydra.job.name}/${task.task_name}/${now:%Y-%m-%d_%H-%M-%S}
  sweep:
    dir: ${result_dir}/hydra_output/multirun/${hydra.job.name}/${now:%Y-%m-%d_%H-%M-%S}
  verbose: "INFO"
