defaults:
  - _self_
  - dataset: coco2017
  - lvlm: flamingo_9B
  - train: query_img_icd_text
  - task: caption

# for fast version:
num_workers: 16
num_proc: 16
preprocessor_bs: 100

# generation config
precision: bf16
device: cuda
index_data_num: -1
test_data_num: -1

inference_bs: 4

# MMTopK config:
mmtopk_clip_name: openai/clip-vit-base-patch32
mmtopk_reversed_order: true

# Random config:
random_retrieval_fixed: false
seed: 42

# icd_lm config:
icd_lm_path: null
default_cpk_key: "last"
random_order_icd_lm: false
icd_lm_bs: 20
icd_lm_num_workers: 4
reverse_seq: false


eos_token_id: ${dataset.train_ds_len}

# Others
result_dir: "${oc.env:RESULT_DIR}"
ex_name: "debug"
shot_num_list: [1, 2, 3, 4, 6, 8]
test_zero_shot: false
test_random: false
test_icd_lm: false
test_t2t: false
test_i2t: false
test_i2i: false

hydra:
  run:
    dir: ${result_dir}/hydra_output/${hydra.job.name}/${ex_name}/${now:%Y-%m-%d_%H-%M-%S}
  sweep:
    dir: ${result_dir}/hydra_output/${hydra.job.name}/${ex_name}/${now:%Y-%m-%d_%H-%M-%S}
    subdir: ${hydra.job.override_dirname}
